body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container {
    display: grid;
    align-items: center;
    background-color:lightgreen;
    
}

.container img {
    width: 120px;
    height: 120px;
    border-radius: 20%;
}

/* Mobile View */
@media screen and (max-width: 600px) {
    .card {
        grid-direction: column;
        text-align: center;
        background-color:lightblue;
    }
}
@media screen and (max-width: 200px) {
    .card {
        grid-direction: column;
        text-align: center;
        background-color:lightblue;
    }
}
