.productCard {
    width: 250px;
    border: 1px solid black;
    padding: 15px;
    margin: 20px auto;
    text-align: center;
}

.productCard img {
    width: 100%;
    transition: transform 0.5s;
}

.productCard img:hover {
    transform: scale(1.1);
}

button {
    padding: 10px 20px;
    transition: background-color 0.5s;
}

button:hover {
    background-color: lightgreen;
}

@media screen and (max-width: 768px) {
    .productCard {
        width: 90%;
    }
}