.container{
            margin:0;
            padding:20px;
            background-color: #f0f0f0;
        }
        nav{
            color:blue;
            transition:smooth 0.2s;
        }
        nav a:hover{
            color:rgb(247, 35, 53);
            text-decoration: underline;
            font-size:20px;
        }