body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.card {
    display: flex;
    align-items: center;
    background-color:lightgreen;
    width:400px;
}

.card img {
    width: 120px;
    height: 150px;
    border-radius: 20%;
}
.details{
    text-align: left;
    margin-left: 10px;
    font-size: 10px;
    color: black;
}

/* Mobile View */
@media screen and (max-width: 600px) {
    .card {
        flex-direction: column;
        text-align: center;
        background-color:lightblue;
    }
}
