.container {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition:smooth;
        }

        img {
            width: 400px;
            height: 500px;
            object-fit: cover;
        }
        .container:hover{
            transform: scale(1.2);
        }